.wrapper {
    background-color: #C7B9B7;
    max-width: 100%;
    padding: 10px;
    height: 100px;
}

.logo {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-left:20px;
}

.links {
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 40px;
    display: flex;
}
.droplist a:hover{
    color: #422030;
}


.droplist a{
    font-size: 30px;
    color: #000;
    text-align: center;
    font-family: 'Poiret One', cursive;

}

.droplist ul
{
    min-width: 20px;
}

.links a {
    font-family: 'Poiret One', cursive;
    font-size: 28px;
    font-weight: 400;
    margin-right:75px;
    text-decoration: none;
    color: black;
}

.links a:hover {
    text-decoration: underline;
    color: #422030;
}

Form {
    margin-top: 10px;
}

.exitButton{
    background-color:  #FFE552;
    border: none;
    margin-top: -5px;
    text-transform: uppercase;

}


