.infobox{
    margin: 50px auto;
    width: 680px;
    height: 800px;
    padding: 40px 20px;
    background:#E3DBDA;
    border-radius: 15px;
    position: relative;
    text-shadow: none;

}
h2{
    margin-bottom: 30px;
    font-family: 'Rubik', sans-serif;
}
.dataTitle{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    display: flex;
    margin-bottom: -20px;
    position: relative;
    top: 50px;
    left: 75px;

}

.dataInfo{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    text-align: left;
    position: relative;
    top:24px;
    left: 350px;
    display: flex;

}

.btn{
    margin-top: 45px;
    font-size: 26px;
    background-color: #C7B9B7;
    outline: none;
    border-radius: 10px
;


}
.btn a{
    text-decoration:none;
    color: black;
}
.btn a:hover{
    text-decoration: underline;
    color: #422030;
}
.image {
    width: 50%;
    height: auto;
    position: relative;
    top: 20px;

}


